__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.so
*.egg
*.egg-info
dist/
build/
.git
.gitignore
.env
.venv
node_modules/
*.log
.DS_Store
uploads/*
!uploads/.gitkeep
static/cropped_images/*
!static/cropped_images/.gitkeep
static/outputs/*
!static/outputs/.gitkeep

